/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root{
	-fx-background-image:url("application/saber.jpg");
	-fx-padding: 3;
	-fx-background-size: cover;
	-fx-background-repeat: no-repeat ;
}

.button{
	-fx-font: 15 "Herculanum";
	-fx-base: #b6e7c9;
}

.button:hover{
	-fx-background-radius: 5;
	-fx-font-style:oblique;
	/*-fx-border-color: blue;*/
	-fx-base: #FFDAB9;
	-fx-border-radius: 5;
}
.label{
	-fx-font:15 "Comic Sans MS", TimesNewRoman;
	-fx-background-color: transparent ;
}
.slider{
	-fx-base: dodgerblue;
}

.hbox{
	-fx-spacing: 10;
}
.vbox{
	-fx-spacing: 20;
}